<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
        <!--Bootstrap-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" />
        <!--Tempmo-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/templatemo-style.css') }}" />
        <!--Error Page Stylesheet-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}" />
        <!--
        Verticard Template
        https://templatemo.com/tm-533-verticard
        Nice Template if You want to checkout for youreself -->
    </head>

<body>
    
    {% block body %}{% endblock %}
    
</body>

</html>